@import 'mixin';
@import 'normalize';
@import 'flexboxgrid';

@include font-face(Oswald, "../fonts/Oswald/Oswald-Regular", null, null, ttf);
@include font-face(Oswald, "../fonts/Oswald/Oswald-ExtraBold", 900, normal, ttf);
@include font-face(Oswald, "../fonts/Oswald/Oswald-Light", 300, normal, ttf);
@include font-face(Oswald, "../fonts/Oswald/Oswald-Bold", bold, normal, ttf);
@include font-face(Oswald, "../fonts/Oswald/Oswald-SemiBold", 500, normal, ttf);
@include font-face(Roboto, "../fonts/Roboto/Roboto-Regular", null, null, ttf);
@include font-face(Roboto, "../fonts/Roboto/Roboto-Black", 900, normal, ttf);
@include font-face(Roboto, "../fonts/Roboto/Roboto-Light", 300, normal, ttf);
@include font-face(Roboto, "../fonts/Roboto/Roboto-Bold", bold, normal, ttf);
@include font-face(FontAwesome, "../fonts/fontawesome/fa-brands-400");

$red: #cd4a4b;

*{
	font-family: Roboto;
}

html{
	font-size:18px;
}

body{
	background: #000;
	color: #fff;
	font-family: "Arial";
}

header.main{
	background: linear-gradient(to bottom, rgba(10,10,10,.3) 0%, rgba(10,10,10,.3) 100%), url(../img/book.jpg) no-repeat center center;
	background-size: cover;
}

header.contact{
	background: linear-gradient(to bottom, rgba(10,10,10,.3) 0%, rgba(10,10,10,.3) 100%), url(../img/contact.png) no-repeat center center;
	background-size: cover;
}

header.news,
header.article{
	background: linear-gradient(to bottom, rgba(10,10,10,.3) 0%, rgba(10,10,10,.3) 100%), url(../img/moon.jpg) no-repeat center center;
	background-size: cover;
}

h1,h2,h3,h4,h5,h6{
	font-family: Oswald;
	letter-spacing: .2rem;
}

h2{
	font-size: rem(35);
	line-height: rem(40);
	margin: 0;
}

h3{
	font-size: rem(30);
	margin: rem(25) 0 rem(5) 0;
}

h4{
	font-size: rem(25);
	margin: rem(5) 0 rem(5) 0;
}

h5{
	font-size: rem(23);
	margin: rem(5) 0 rem(5) 0;
}

h6{
	font-size: rem(19);
	margin: rem(25) 0 rem(5) 0;
	font-weight: 100;
}

p{
	font-size: rem(20);
	margin: .5rem 0;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: manipulation !important;
        touch-action: manipulation !important;
}

header{
	min-height:100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;

	.row{
		margin: auto;
	}

	.address{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}
	

	input[type="button"],
	button[type="submit"]{
		background:$red;
		width: rem(200);
		height: rem(50);
		border:none;
		border-radius:rem(4);
		cursor: pointer;
		color:#fff;
		outline:none;
		font-size:rem(20);
		transition: all .3s ease-out;
		
		&:hover{
			opacity:1;
			transform: scale(1.03);

		}
	}

	button[type="submit"]:disabled{
		background: #AAA;

		&:hover{
			transform: scale(1);

		}
	}


	&.about{
		background: linear-gradient(to bottom, rgba(10,10,10,.3) 0%, rgba(10,10,10,.3) 100%), url(../img/global.jpg);

	}

	&.about,
	&.news 
	{
		background-attachment: fixed;
		
		h1{
			font-size: 10rem;
			margin: 0 0 1.4rem 0;
			white-space: nowrap;
		}

		p{
			position: relative;

			&::before{
				content: '';
				background: #fff;
				width: 20%;
				top: 10%;
				left: -23%;
				height: .3rem;
				position: absolute;
			}
		}
	}
}

img{
	max-width: 100%;
}

nav{
	 padding-top:1rem;


	ul{
		list-style:none;
		margin:0;
		padding:0;
		display: flex;
		justify-content: space-around;
		align-items: center;

		li{
			cursor: pointer;

			img{
				width: 100%;
			}
		}

		a{
			font-size: 1.8rem;
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
			transition: all .3s ease-out;

			&:hover{
				color: #fff;
			}
		}
	}
}

.game{
	background: linear-gradient(to bottom, rgba(10,10,10,.5) 0%, rgba(10,10,10,.5) 100%), url(../img/owl.png) center center;
	background-size:cover, cover;
	padding:0;
	position: relative;

	figure{
		z-index: 1;
		margin: 0;
	}
	img{
		width: 40vw;
		margin: -4rem 0 -1.4rem -4.5rem;
	}

	h2{
		text-transform: uppercase;
		line-height: 1.3;
	}

	&::before{
		content: '';
    	position: absolute;
    	height: 25%;
    	width: 100%;
    	opacity: .6;
    	top: 0;
    	background: #fff;
    	z-index: 0;
	}

	&::after{
		content: '';
    	position: absolute;
    	height: 25%;
    	width: 100%;
    	opacity: .6;
    	bottom: 0;
    	background: #fff;
    	z-index: 0;
	}

}

.latest{
	padding:0;
	background: #101010;
	z-index: 2;
	position: relative;

	
	figure{
		margin-bottom:-0.3rem;
	}

	img{
		margin-top: -10vh;
		width:115%;
		max-width:113%;
	}

	h2 {
		margin: 1rem 0;
	
		a{
			color: #fff;
			text-decoration: none;
			font-family: Oswald;
			margin: 0 0 1rem 0;
			border-bottom:.2rem solid #fff;
			font-size: 2.5rem;
			line-height: 1.2;

			&:hover{
				color:#666;
			}

		}
	
	}
}



form{
	display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin: 1.5rem;
    padding: .5rem;
	
	h1{
		color:#000;
	}
	textarea,
	input{
		resize: none;
    	width: 80%;
    	background: #e8e8e8;
    	padding: .8rem;
    	border: none;
    	border-radius: 5px;
    	margin: .4rem auto;
    	display: block;
	}

	p {
		font-size: 1rem;
		margin: 0.3rem 0 0.5rem 0;
		color: #2b2b2b;
	}

	.form-group {
		width: 90%;
		text-align: center;
	}
}
section{
	padding: 10vh 0;
}
.owl-stage{
	display: flex;
}

.owl-carousel.owl-drag .owl-item{
	display: flex;
}
section.team,
section.news,
section.plot,
section.article{
	background:url(../img/root1.png) no-repeat 0% -10%, url(../img/root2.png) no-repeat 100% -14%, #fff;
	color:#000;		
	background-size: 30%, 15% ;
}

section.team .item div,
.latest div:first-of-type,
.game div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start
}

section.news {
	padding-bottom:0; 

	.wrapper{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	}
	

	figure {
		position: relative;
		overflow: hidden;
		min-width: 320px;
		flex: 1 1 33.33%;
		height: auto;
		background: #3085a3;
		cursor: pointer;
		margin: 0;
	}
	
	figure img {
		position: relative;
		display: block;
		min-height: 100%;
		max-width: 100%;
		opacity: 0.8;
	}
	
	figure figcaption {
		padding: 2em;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.25em;
		padding: 0;
		backface-visibility: hidden;
	}
	
	figure figcaption::before,
	figure figcaption::after {
		pointer-events: none;
	}
	
	figure figcaption,
	figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	figure.effect-goliath {
		background: $red;
	}
	
	
	figure.effect-goliath img,
	figure.effect-goliath h2,
	figure.effect-goliath .date {
		transition: transform .8s;
	}

	figure.effect-goliath img {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	
	figure.effect-goliath h2,
	figure.effect-goliath p {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	figure.effect-goliath h2{
		bottom: 3.5rem;
		left: 30px;
	}
	figure.effect-goliath .date{
		bottom: 1.5rem;
		left: 30px;
	}
	
	figure.effect-goliath p:last-of-type {
		text-transform: none;
		font-size: 90%;
		opacity: 0;
		transition: opacity .8s, transform .8s;
		padding: 1rem;
		transform: translate3d(0,100%,0);
	}
	
	figure.effect-goliath:hover img {
		transform: translate3d(0,-100%,0);
	}
	
	figure.effect-goliath:hover h2,
	figure.effect-goliath:hover .date{
		transform: translate3d(0,-25rem,0);
	}
	
	figure.effect-goliath:hover p:last-of-type {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

section.news>h2{
	text-align: center;
	margin: 0 0 2rem 0;
	text-transform: uppercase;
}

.pagination {
	margin: auto;
	font-size: rem(25);
	padding: 0;
	text-align: center;

	li{
	display: inline-block;

	&.active{
		border-bottom:2px solid $red;
	}

		a{
			color:$red;
			text-decoration: none;
			padding: 0.4rem .4rem;
		}
	}
}

input[type="checkbox"] {
    width: 1.3rem;
    padding: 0;
    margin: 0;
    height: 1.3rem;
    min-height: auto;
    position: relative;
}
.fake-label{
  display: inline-block;
  border: 2px solid #000;
  border-radius: 6px;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  top: 5px;
}
.fake-label > input{
  display: inline-block;
  opacity: 0;
}
.fake-label + p{
  display: inline;
}
.fake-label i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  opacity: 0;
}
.fake-label input:checked + i{
  opacity: 1;
}
fieldset{
  border: none;
  margin: 0 0 10px 0;
}

.owl-dots{
	display: none;
}
.plot {
	text-align: center;

	h2{
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}

	img{
		width: 50%;
		min-width: 290px;	
			
		&:first-of-type{
		float:left;
		padding:0 1rem 1rem 0;
		}
		&:last-of-type{
			float:right;
			padding:.3rem 0 1rem 1rem;
		}
	}

	p:nth-of-type(4),
	p:nth-of-type(5){
		 display: none;
	}

	button{
		background: #cd4a4b;
    	width: 7.11111rem;
    	height: 2.2rem;
    	border: none;
    	border-radius: 0.22222rem;
    	cursor: pointer;
    	color: #fff;
    	outline: none;
    	margin-top: .4rem;
    	font-size: 1.11111rem;
		transition: all .3s ease-out;
		position: relative;
		z-index: 10000;
		
		&:hover{
			opacity:1;
			transform: scale(1.03);

		}

	}

}

.plot p{
	font-size: 1.15rem;
}

.char{
	padding:0;
	background: linear-gradient(to bottom, rgba(10,10,10,.6) 0%, rgba(10,10,10,.6) 100%), url(../img/char.jpg) no-repeat center center;
	background-size: cover;

	.char_pic{
		display: flex;
		justify-content:  center;
		align-items:  flex-end;	
	}

	.char_desc{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.row{
		margin-bottom:0;
	}
}

header.article{
	min-height: 50vh;
	.row{
		margin: auto 0;
	}
}

.title{
	padding-top: 4rem;

	h1{
		font-size: 3em;
    	margin: 0.1em 0;
	}

	p{
		margin: 0 0 4.5rem;
	}
}


section.article {
	padding: 0;

	article{
    	margin-top: -4rem;
    	padding: 3rem;
    	background: #fff;
	}
}

footer{
	background: #2b2b2b;
	display: flex;
	flex-direction: column;
	padding: 0 rem(15);
	text-align: center;
	
	div{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ul{
		list-style: none;
		display: flex;

		li{
			padding: rem(15);
			transition: all .5s ease-in-out;

			&:hover{
				transform: rotate(180deg);
	
			}
		}

		a{
			text-decoration: none;
			color:$red;
			font-size: rem(25);

			
		}
	}
	a{
		color: #fff;
	}

	p{
		opacity: .3;
		padding: 0 0 rem(10) 0;
	}
}

@media only screen and (min-width : 2000px) {
	html{
		font-size:32px;
	}
	nav li:nth-child(3){
		width: 16%;
	}
}

@media only screen and (max-width : 1920px) {
	html{
		font-size:23px;
	}
}

@media only screen and (max-width : 1440px) {
	html{
		font-size:16px;
	}
}

@media only screen and (max-width : 1024px) {
	html{
		font-size:14px;
	}
}

@media only screen and (max-width : 992px) {
	.latest img{
		margin: 0;
		width: 100%;
	}

	.game::after,
	.game::before{
		display: none;
	}
}

@media only screen and (max-width : 767px) {
	nav> ul{
		flex-direction: column;
	}
	nav> ul li:nth-child(3){
		order:-1;
		position: relative;

		&::before {
			content: '';
			width: 50px;
			height: 50px;
			position: absolute;
			background: url(../img/click.svg) center center no-repeat;
			background-size: contain;
			left: -3.1rem;
			top: 29%;
			transform: rotate(-21deg);
			}
	} 

	.char_desc h2 {
		position: absolute;
		bottom: 10%;
		font-size: 3rem;
		left: 50%;
		transform: translate(-50%, -50%) rotate(7deg);
		width: 100%;
		text-align: center;
	}

	.char_desc p {
		display: none;
	}

	.char_pic{
		order:2;
	}

	nav> ul li:not(:nth-child(3)){
		display: none;
	}

	.address,
	.plot{
		padding: 1rem;
	}

	.contact form{
		margin: 1.5rem 0;
	}

	section.news figure{
		margin:0;
	}

	.plot img{
		width: 100%;
			
		&:first-of-type,
		&:last-of-type{
			float:none;
			padding:0;
		}
	}

	.game{
		padding: 10vh 1vw;

		figure{
			display: none;
		}
		
	}

	.latest{
		h2{
			margin: 3rem 0 .5rem 0;
			a{
			font-size: 1.8rem;
			}
		}

		p{
			font-size: 1rem;
		}
		
	}

	header.about,
	header.news {

		h1 {
			font-size: 4rem;
			margin: 0 0 0rem 0;
	
		}

		p{
			&::before{
				display: none;
			}
		}
	}

	form p {
		font-size: .86rem;
	}
	
}
